@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: 'poppins','Arial';
    background-color: #e8e9fc;
    display: flex;
    align-items: center;
}
@keyframes slide{
    from { transform: translateY(550px); }
  to { transform: translateY(0px); }
}


.container{
    /* border: 1px solid black; */
    background-color: white;
    max-width: 500px;
    width: 90vw;
    height: 80%;
    margin: auto;
    border-radius: 1rem;
    box-shadow: 0rem 0.2rem 0.5rem rgb(41, 41, 41);
    padding: 2rem;
    animation: slide 3s ease;
}
.please-1{
    /* border: 1px solid black; */
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
}
.please-1 img{
    height: 100%;
}
.please-2{
    /* border: 1px solid black; */
    width: 100%;
    height: 40%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.enter1{
    font-size: 1.5rem;
    font-weight: 500;
}
.enter2{
    border: 0.1rem solid black;
    height: 2.5rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
}
.enter2:hover{
    border:0.1rem solid  #5A4BDA;
    
}
.enter2 input{
    border: none;
    height: 2em;
    margin-top: -0.5rem;
    margin-left: 0.5em;
    outline: none;
    font-size: 1rem;
    width: 70%;

}
button{
    width: 100%;
    height: 2.7rem;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background-color: #5A4BDA;
    border: none;
    border-radius: 0.3rem;
    letter-spacing: 1px;
}
button:hover{
    background-color: #5041dc;
    cursor: pointer;
}

@media (max-width:500px){
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .please-1{
        height: auto;
        /* margin-top: 2rem; */
    }
    .please-1 img{
            width: 130px;
            height: 130px;
    }
    .please-2{
        height: 40%;
    }
    .enter1{
        font-size: 1.2rem;
    }
}