* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: auto;
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

nav {
  background-color: #030303;
  width: 100vw;
  height: 75px;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 5;
}
.full-nav{
    /* border: 1px solid white; */
    max-width: 1300px;
    width:90vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.nav1{
  /* border: 1px solid white; */
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    
}

.nav1 img{
    height: 50px;
}
.nav2-ham img{
    height: 17px;
    width: 25px;
}
.nav2{
  /* border: 1px solid white; */
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
 
}
.nav2 ul{
  display: flex;
  justify-content: space-evenly;
  gap: 2.5rem;
}
.nav2 ul a{
  color: rgb(231, 228, 228);
  font-size: 0.9rem;
  text-decoration: none;
}
.nav2 ul a:hover{
  color: white;
}
.nav2-ham{
    height: 100%;
    display: none;
}
.nav2-ham button{
    background-color:#030303;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    /* margin: 0.5rem; */
}
.nav2-ham img{
    height: 17px;
    width: 25px;
}
main{
    display: flex;
}
.sign1{
    /* border: 1px solid black; */
    width: 35%;
    height: 100vh;
    padding: 5rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-top: -2rem; */
}
.sign2{
    /* border: 1px solid black; */
    width: 65%;
    height: 100vh;
}
.sign1 h2{
    /* margin-top: auto; */
    font-size: 4rem;
}
.sign1 input{
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    margin-top: 1rem;
}
#checkbox{
    width: auto;
    margin-top: 2rem;
    cursor: pointer;
}
button{
    width: 100%;
    border: none;
    padding: 1rem;
    margin-top: 1.5rem;
    font: 700;
    font-size: 1rem;
    color: white;
    background-color: #272b2e;
}
button:hover{
    background-color: #131516;
    cursor: pointer;
}
.sign2 img{
    width: 100%;
    height: 100%;
}
.log{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 1rem;
    color:#656565;
}
.log1:hover{
    color: #131516;
    cursor: pointer;
}

@media (max-width:900px){
    .sign2{
        display: none;
    }
    .sign1{
        width: 500px;
        display: flex;
        flex-direction: column;
        justify-self: center;
        margin: auto;
    }
    .sign1 h2{
        font-size: 2.5rem;
         margin-top: 0;
    }
    .sign1 input{
        margin-top: 0.5rem;
    }
    .nav2{
        display: none;
    }
    .nav2-ham{
        display: block;
        display: flex;
        align-items: center;
    }
}